@import "_mixin";
@import "_lib";
@include loader-circle-style1;
@include typography-reset;
/*-----------------------------------------
 HEADING
------------------------------------------*/
/* Set for all headings */
#{headings()} {
}
// set size for headers
@each $header, $size in (h1: 28px, h2: 28px, h3: 18px, h4: 16px, h5: 12px) {
  #{$header} {
    font-size: ($size / 10px) * 1rem;
  }
}

.title-wrapper{
  margin-bottom: 15px;
  .main-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem; 
    margin-top: 0;
    margin-bottom: 15px;
  }
  .sub-title{
    font-size: 1.6rem;
    color: #949494;
  }
  &.has-top-line{
    &:before{
      content: "";
      display: block;
      width: 81px; height: 7px;
      margin-bottom: 30px;
      background: url(#{$image}/waves.png);
      
    }
    &.text-center:before{ margin-left: auto; margin-right: auto; }
  }
}


@include frm-reset;
@include frm(all){
  width: 100%;
  outline: none;
  border: 0;
  padding: 0 15px;
  font-size: 1.6rem;
  background-color: $white;
  border-radius: 4px;
  transition: border linear .2s, box-shadow linear .2s;
}
@include frm(input){
  height: 60px; line-height: 60px;
}
@include frm(link-email){  };
@include frm(link-file){  };
@include frm(link-tel){  };
@include frm(btn-link){  };

@include frm(btn){ 
  padding: 0 30px;
  height: 60px; line-height: 60px;
  text-transform: uppercase;
  color: $white;
  background: $highlight-color;
  @include border-radius(5px);
};
.btn-cta{
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 0 25px; 
    height: 40px; line-height: 40px;
    font-size: 1.6rem; font-weight: bold; text-align: center;
    cursor: pointer;
    &:before, &:after{
      content: '';
      position: absolute; top: 0; left: 0; z-index: 1;
      width: 100%; height: 100%;
      transition: all 0.5s; 
      opacity: 1;
      transform: translate(-105%,0);
      border-left: 1px solid $white;
      background-color: rgba(255,255,255,0.25);
    }
    &:after{ transition-delay: 0.2s; }
    &:hover{
      color: $white;
      &:before, &:after{
        opacity: 0;
        transform: translate(0,0);
      }
    }
}
.btn-outline{
  color: $highlight-color;
  background-color: transparent;
  border: 3px solid $highlight-color;
  font-weight: bold;
  &:hover{
    position: relative;
    color: $white;
    border-color: $highlight-color;
    background-color: $highlight-color;
    @include box-shadow (0px 6px 60px 2px rgba(68, 68, 68, 0.3));
  }
}

.light-bg{
  background-color: $light-grey;
}
// Used to style the TinyMCE editor - wordpress
.wp-editor{}



