
/*-----------------------------------------
MOBILE FIRST METHOD
------------------------------------------*/

@include media(xs){ 

};
@include media(sm){ 
    @each $header, $size in (h1: 48px, h2: 48px, h3: 20px, h4: 18px, h5: 12px) {
        #{$header} {
            font-size: ($size / 10px) * 1rem;
        }
    }
    .btn-cta{ font-size: $base-fontsize-lg; }
    .footer-contact-number{font-size: 2.6rem;}
    .testimonial-slider{
        padding: 60px 0 30px;
    }
    .contact-section{
        padding: 60px 0 160px;
        .title-wrapper{
            margin-bottom: 30px;
        }
        .main-title{ 
            font-size: 36px;
            margin-bottom: 5px;
        }
    }
    .contact-container{
        width: 514px; height: 496px;
    }
    .journal-section, .procedure-section, .gallery-section{ 
        padding: 60px 0;
    }
    .post-wrapper{
        margin-top: 60px;
    }
    
    .feature-section{
        min-height: 1000px;
        .feature-wrapper{
            margin-top: 90px;
        }
    }
    .partner-slider{ padding: 80px 0; }
};
@include media(md){ 

};
@include media(lg){ 
    .newsletter-section{
        padding: 200px 0;
    }
};

/*-----------------------------------------
DESTOP FIRST METHOD
------------------------------------------*/
@include media-destop-first(lg){ 

};
@include media-destop-first(md){ 

};
@include media-destop-first(sm){ 

};
@include media-destop-first(xs){ 

}

/*-----------------------------------------
RESTRICTED SCREEN
------------------------------------------*/
@include media-only(xs){ 

};
@include media-only(sm){ 

};
@include media-only(md){ 

};
@include media-only(lg){

}
@include media-retina(){

}
