.single-product .date-picker-wrapper{
	overflow: hidden;
}
.single-product .date-picker-wrapper .form-group{
    position: relative;
    width: 244px;
    float: left;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 15px;
}
.single-product .date-picker-wrapper .form-group input{
    background: transparent;
    border: 1px solid #cccccc;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 10px;
}
.single-product .date-picker-wrapper i{
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: -1;
}
.ui-datepicker{
    margin-top: -1px;
    width: 244px;
}
.ui-widget.ui-widget-content, .ui-datepicker .ui-datepicker-header{
    border-radius: 0;
}
.ui-datepicker .ui-datepicker-title select{
    border: 0;
    margin: 1px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border: 1px solid #ef5710;
    background: #ef5710;
    color: #ffffff;
}
.ui-widget-header .ui-icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-widget-header .ui-icon:before{
    text-indent: 0;
    position: absolute;
    top: 4px;
    font-size: .9em!important;
    color: #000;
}
.ui-icon-circle-triangle-w:before{
    right: 0;
    content:"\f053";
}
.ui-icon-circle-triangle-e:before{
    left: 0;
    content:"\f054";
}
.ui-datepicker-next-hover, .ui-datepicker-prev-hover{
    border: 0!important;
    background: transparent!important;
    top: 0!important;
}